{% extends 'base.html.twig' %}

{% block title %}Aviary index{% endblock %}

{% block body %}
    <h1>Aviary index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Published</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for aviary in aviaries %}
            <tr>
                <td>{{ aviary.id }}</td>
                <td>{{ aviary.description }}</td>
                <td>{{ aviary.published ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_aviary_show', {'id': aviary.id}) }}">show</a>
                    <a href="{{ path('app_aviary_edit', {'id': aviary.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
