{% extends 'base.html.twig' %}

{% block title %}Aviary{% endblock %}

{% block body %}
    <h1>Aviary</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aviary.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ aviary.description }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ aviary.published ? 'Yes' : 'No' }}</td>
            </tr>
            <!--  
            <tr>
            	<th>Content</th>
            	<td><a href="{{ path('app_aviary_birds', {id : aviary.id})}}">All birds</a></td>
            </tr>
            -->
             <h2>Birds in this aviary:</h2>
+    <ul>
+        {% for bird in aviary.birds %}
+            <li><a href="{{ path('app_aviary_birds_show', {'aviary_id': aviary.id, 'birds_id': bird.id}) }}">{{ bird.name }}</a></li>
+        {% else %}
+            <li>No birds in this aviary.</li>
+        {% endfor %}
+    </ul>
        </tbody>
    </table>

    <a href="{{ path('app_aviary_index') }}">back to list</a>

    <a href="{{ path('app_aviary_edit', {'id': aviary.id}) }}">edit</a>

    {{ include('aviary/_delete_form.html.twig') }}
{% endblock %}


		