{% extends 'base.html.twig' %}

{% block title %}Garden index{% endblock %}

{% block body %}
    <h1>Garden index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Size</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for garden in gardens %}
            <tr>
                <td>{{ garden.id }}</td>
                <td>{{ garden.description }}</td>
                <td>{{ garden.size }}</td>
                <td>{{ garden.name }}</td>
                <td>
                    <a href="{{ path('app_garden_show', {'id': garden.id}) }}">show</a>
                    <a href="{{ path('app_garden_edit', {'id': garden.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_garden_new') }}">Create new</a>
{% endblock %}
